@import '../../sass/main.scss';

.footer{
    @include fonts(24px,500,12px,500);
    @include flex(column, center, center);
    background-color: $color-footer-background;
    gap: 1.25rem;
    height: 209px;
    color: white;
}