@import '../../sass/main.scss';

.header{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    @include mobile-only{
      padding-top: 20px;
      padding-bottom: 20px;
    }

    img{
        height: 3.5rem;
        @include mobile-only{
            height: 40px;
        }
    }
    .nav{
        color: $color-primary;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        gap: 50px;
        @include mobile-only{
            font-size: 0.75rem;
            gap: 10px;
        }

        .active{
           text-decoration: underline;
        }
    }
}