@import '../../../sass/main.scss';

.footer{
    @include fonts(1.5rem,0.75rem,500);
    @include flex(column, center, center);
    background-color: $color-footer-background;
    gap: 1.25rem;
    height: 209px;
    color: $color-secondary;
    margin-top: 40px;
    @include mobile-only{
        margin-top: 30px;
    }
}